.time-select {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.time-block-container {
  display: flex;
  flex-direction: row;
}
.time-block {
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  user-select: none;
  width: 50px;
}

.time-block:hover {
  background-color: #f0f0f0;
}
